body {
    margin: 0;
    padding: 0;
}

/* *** ACCES INTERFACE CUISINE *** */
#kitchen_interface_access {
    width: 100%;
    text-align: right;
}
#kitchen_interface_access a {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

/* *** TITRE ACCUEIL *** */
h1 {
    text-align: center;
}
label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#user_name {
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    padding: 10px 15px;
}
#submit_name, .order_button {
    background-color: rgb(154, 203, 235);
    border-radius: 10px;
    padding: 5px 15px;
}

/* *** COMMANDE *** */
#ordering_page {
    display: none;
    flex-direction: column;
}
#order_title {
    margin: 20px;
    font-size: 1.4em;
}
.dish_div {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-width: 800px;
}
.img_name_description {
    display: flex;
    align-items: center;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    padding: 15px;
    font-size: 1.8em;
    width: 7vw;
    height: 7vw;
}
.dish {
    padding: 10px;
}
.dish_name {
    font-size: 1.6em;
}
.dish_description {
    font-size: 1.1em;
    font-style: italic;
}
.button_div {
    display: flex;
    justify-content: flex-end;
}

/* *** SUIVI DE LA COMMANDE *** */
#waiting_page {
    display: none;
}
#order_status {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}
.status_text {
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}
.dish_waiting_img {
    border: solid 2px green;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    padding: 15px;
    font-size: 2em;
    margin: 0;
}
.dish_name_status {
    font-size: 1.1em;
}

/* *** INTERFACE CUISINE *** */
#kitchen_title {
    text-align: center;
}
.green {
    color: green;
    font-weight: bold;
}
.user_orders {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;

}
.buttons_div {
    display: flex;
    justify-content: space-evenly;
}
.order_in_progress_button, .order_ready_button {
    border-radius: 10px;
    padding: 5px 15px;
}
.order_in_progress_button {
    background-color: orange;
}
.order_ready_button {
    background-color: green;
}
.delete_order_button {
    background-color: red;
    border-radius: 10px;
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
}